
{% extends 'base.html' %}
{% block content %}

        <!-- Single Product Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <ol class="breadcrumb justify-content-start mb-4">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active text-dark">Single Page</li>
                </ol>
                <div class="row g-4">
                    <div class="col-lg-8">
                        <div class="mb-4">
                            <a href="#" class="h1 display-5">{{ article.title }}</a>
                        </div>
                        <div class="position-relative rounded overflow-hidden mb-3">
                            <img src="{{ article.cover.url }}" class="img-zoomin img-fluid rounded w-100" alt="">
                            <div class="position-absolute text-white px-4 py-2 bg-primary rounded" style="top: 20px; right: 20px;">                                              
                                {{ article.category }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="text-dark link-hover me-3"><i class="fa fa-clock"></i> {{ article.read_time}} daqiqa</a>
                            <a href="#" class="text-dark link-hover me-3"><i class="fa fa-eye"></i> {{article.views}}</a>
                            <a href="#" class="text-dark link-hover me-3"><i class="fa fa-comment-dots"></i> {{ article.comment_set.count }} izohlar</a>
                            <a href="#" class="text-dark link-hover"><i class="fa fa-calendar"></i> {{article.created_at|date:"d m Y"}}</a>
                        </div>
                        {% for cont in contexts %}
                            {% if cont.image %}
                                <div class="12">
                                    <div class="rounded overflow-hidden">
                                        <img src="{{ cont.image.url }}" class="img-zoomin img-fluid rounded w-100" alt="">
                                    </div>
                                </div>
                            {% endif %}
                        <p class="my-4">
                            {{ cont.text }}
                        </p>
                        {% endfor %}
                        <div class="tab-class">
                            <div class="d-flex justify-content-between border-bottom mb-4">
                                <ul class="nav nav-pills d-inline-flex text-center">
                                    <li class="nav-item mb-3">
                                        <h5 class="mt-2 me-3 mb-0">Tags:</h5>
                                    </li>
                                    {% for tag in article.tag.all %}
                                        <li class="nav-item mb-3">
                                            <a class="d-flex py-2 bg-light rounded-pill active me-2" data-bs-toggle="pill" href="#tab-1">
                                                <span class="text-dark" style="width: 100px;">#{{ tag.name }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="d-flex align-items-center">
                                    <h5 class="mb-0 me-3">Share:</h5>
                                    <i class="fab fa-facebook-f link-hover btn btn-square rounded-circle border-primary text-dark me-2"></i>
                                    <i class="btn fab bi-twitter link-hover btn btn-square rounded-circle border-primary text-dark me-2"></i>
                                    <i class="btn fab fa-instagram link-hover btn btn-square rounded-circle border-primary text-dark me-2"></i>
                                    <i class="btn fab fa-linkedin-in link-hover btn btn-square rounded-circle border-primary text-dark"></i>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light rounded my-4 p-4">
                            <h4 class="mb-4">O'xshash articlelar</h4>
                            <div class="row g-4">
                                {% for rel in rel_article %}
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center p-3 bg-white rounded">
                                            {% if rel.cover %}
                                                <img src="{{ rel.cover.url }}" class="img-fluid rounded" alt="">
                                            {% endif %}
                                            <div class="ms-3">
                                                <a href="#" class="h5 mb-2">{{ rel.title|truncatechars:40 }}</a>
                                                <p class="text-dark mt-3 mb-0 me-3"><i class="fa fa-clock"></i> {{ rel.read_time}} daqiqa</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="bg-light rounded p-4">
                            <h4 class="mb-4">Izohlar</h4>
                            <div class="p-4 bg-white rounded mb-4">
                                {% for izoh in izohlar %}
                                    <div class="row g-4">
                                        <div class="col-12">
                                            <div class="d-flex justify-content-between">
                                                <h5>{{ izoh.author }}</h5>
                                            </div>
                                            <small class="text-body d-block mb-3"><i class="fas fa-calendar-alt me-1"></i>
                                                {{ izoh.created_at|date:"d.m.Y"}}</small>
                                            <p class="mb-0">
                                                {{ izoh.text }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="bg-light rounded p-4 my-4">
                            <h4 class="mb-4">Izoh qoldiring</h4>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control py-3" name="name" placeholder="Full Name">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control py-3" name="email" placeholder="Email Address">
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control" name="textarea" id="" cols="30" rows="7" placeholder="Write Your Comment Here"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="form-control btn btn-primary py-3" type="submit">Submit Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="p-3 rounded border">
                                    <form method="get" class="input-group w-100 mx-auto d-flex mb-4">
                                        <input type="search" class="form-control p-3" name="q" value="{{query}}" placeholder="keywords" aria-describedby="search-icon-1">
                                        <button id="search-icon-1" class="btn btn-primary input-group-text p-3" type="submit"><i class="fa fa-search text-white"></i></button>
                                    </form>
                                    <h4 class="mb-4">Popular Categories</h4>
                                    <div class="row g-2">
                                        {% for category in categories %}
                                        <div class="col-12">
                                            <a href="#" class="link-hover btn btn-light w-100 rounded text-uppercase text-dark py-3">
                                                {{category.name}}
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <h4 class="my-4">Mashhur yangiliklar</h4>
                                    {% for article in articles %}
                                        <div class="row g-4">
                                            <div class="col-12">
                                                <div class="row g-4 align-items-center features-item">
                                                    <div class="col-4">
                                                        <div class="rounded-circle position-relative">
                                                            <div class="overflow-hidden rounded-circle">
                                                                <img src="{{article.cover.url}}" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                                            </div>
                                                            <span class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute" style="top: 10%; right: -10px;">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="features-content d-flex flex-column">
                                                            <p class="text-uppercase mb-2">{{article.category.name}}</p>
                                                            <a href="#" class="h6">
                                                                {{ article.title|truncatechars:40 }}
                                                            </a>
                                                            <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> {{ article.created_at|date:"d.m.Y" }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Product End -->

{% endblock %}
