
{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Features Start -->
        <div class="container-fluid features mb-5">
            <div class="container py-5">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="row g-4 align-items-center features-item">
                            <div class="col-4">
                                <div class="rounded-circle position-relative">
                                    <div class="overflow-hidden rounded-circle">
                                        <img src="{% static 'img/features-sports-1.jpg' %}" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                    </div>
                                    <span class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute" style="top: 10%; right: -10px;">3</span>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features-content d-flex flex-column">
                                    <p class="text-uppercase mb-2">Sports</p>
                                    <a href="#" class="h6">
                                        Get the best speak market, news.
                                    </a>
                                    <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> December 9, 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="row g-4 align-items-center features-item">
                            <div class="col-4">
                                <div class="rounded-circle position-relative">
                                    <div class="overflow-hidden rounded-circle">
                                        <img src="{% static 'img/features-technology.jpg' %}" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                    </div>
                                    <span class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute" style="top: 10%; right: -10px;">3</span>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features-content d-flex flex-column">
                                    <p class="text-uppercase mb-2">Technology</p>
                                    <a href="#" class="h6">
                                        Get the best speak market, news.
                                    </a>
                                    <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> December 9, 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="row g-4 align-items-center features-item">
                            <div class="col-4">
                                <div class="rounded-circle position-relative">
                                    <div class="overflow-hidden rounded-circle">
                                        <img src="{% static 'img/features-fashion.jpg' %}" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                    </div>
                                    <span class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute" style="top: 10%; right: -10px;">3</span>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features-content d-flex flex-column">
                                    <p class="text-uppercase mb-2">Fashion</p>
                                    <a href="#" class="h6">
                                        Get the best speak market, news.
                                    </a>
                                    <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> December 9, 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="row g-4 align-items-center features-item">
                            <div class="col-4">
                                <div class="rounded-circle position-relative">
                                    <div class="overflow-hidden rounded-circle">
                                        <img src="{% static 'img/features-life-style.jpg' %}" class="img-zoomin img-fluid rounded-circle w-100" alt="">
                                    </div>
                                    <span class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute" style="top: 10%; right: -10px;">3</span>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features-content d-flex flex-column">
                                    <p class="text-uppercase mb-2">Life Style</p>
                                    <a href="#" class="h6">
                                        Get the best speak market, news.
                                    </a>
                                    <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> December 9, 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->


        <!-- Main Post Section Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="row g-4">
                    <div class="col-lg-7 col-xl-8 mt-0">
                        {% if important_article %}
                            <div class="position-relative overflow-hidden rounded">
                                <img src="{{important_article.cover.url}} " class="img-fluid rounded img-zoomin w-100" alt="">
                                <div class="d-flex justify-content-center px-4 position-absolute flex-wrap" style="bottom: 10px; left: 0;">
                                    <a href="#" class="text-white me-3 link-hover"><i class="fa fa-clock"></i> {{ important_article.read_time}} daqiqa</a>
                                    <a href="#" class="text-white me-3 link-hover"><i class="fa fa-eye"></i> {{important_article.views}}</a>
                                    <a href="#" class="text-white me-3 link-hover"><i class="fa fa-comment-dots"></i> {{ important_article.comment_set.count }} izohlar</a>
                                    <a href="#" class="text-white link-hover"><i class="fa fa-calendar"></i> {{important_article.created_at|date:"d m Y"}}</a>
                                </div>
                            </div>
                        {% else %}
                            <p>Hozircha muhim maqola yo‘q.</p>
                        {% endif %}
                        {% if important_article %}
                            <div class="border-bottom py-3">
                                <a href="{% url 'article-details' important_article.slug %}" class="display-4 text-dark mb-0 link-hover">{{important_article.title|truncatechars:40}}</a>
                            </div>
                            <p class="mt-3 mb-4">{{important_article.intro|truncatechars:450}}
                            </p>
                        {% else %}
                            <p>Hozircha muhim maqola yo‘q.</p>
                        {% endif %}
                        <div class="bg-light p-4 rounded">
                            <div class="news-2">
                                <h3 class="mb-4">Ko'p ko'rilgan news</h3>
                            </div>
                            <div class="row g-4 align-items-center">
                                <div class="col-md-6">
                                    <div class="rounded overflow-hidden">
                                        <img src="{{articles.0.cover.url}}" class="img-fluid rounded img-zoomin w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex flex-column">
                                        <a href="{% url 'article-details' articles.0.slug %}" class="h3">{{articles.0.title|truncatechars:100}}</a>
                                        <p class="mb-0 fs-5"><i class="fa fa-clock"> {{articles.0.read_time}} minut o'qiladi</i> </p>
                                        <p class="mb-0 fs-5"><i class="fa fa-eye"> {{articles.0.views}} ta ko'rildi</i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4">
                       <div class="bg-light rounded p-4 pt-0">
                            <div class="row g-4">
                                <div class="col-12">
                                    <div class="rounded overflow-hidden">
                                        <img src="{{articles.1.cover.url}}" class="img-fluid rounded img-zoomin w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-flex flex-column">
                                        <a href="{% url 'article-details' articles.1.slug %}" class="h4 mb-2"> {{articles.1.title|truncatechars:50}}</a>
                                        <p class="fs-5 mb-0"><i class="fa fa-clock"> {{articles.1.read_time}} daqiqa o'qiladi</i> </p>
                                        <p class="fs-5 mb-0"><i class="fa fa-eye"> {{articles.1.views}} ta ko'rilgan</i></p>
                                    </div>
                                </div>
                                {% for article in articles %}
                                    {% if forloop.counter0 > 1 %}
                                        <div class="col-12">
                                            <div class="row g-4 align-items-center">
                                                <div class="col-5">
                                                    <div class="overflow-hidden rounded">
                                                        <img src="{{article.cover.url}}" class="img-zoomin img-fluid rounded w-100" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="features-content d-flex flex-column">
                                                        <a href="{% url 'article-details' article.slug %}" class="h6">{{article.title|truncatechars:50}}</a>
                                                        <small><i class="fa fa-clock"> {{article.read_time}} daqiqa</i> </small>
                                                        <small><i class="fa fa-eye"> {{article.views}} ta ko‘rilgan</i></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Post Section End -->


        <!-- Banner Start -->
        <div class="container-fluid py-5 my-5" style="background: linear-gradient(rgba(202, 203, 185, 1), rgba(202, 203, 185, 1));">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-7">
                        <h1 class="mb-4 text-primary">Newsers</h1>
                        <h1 class="mb-4">Yangiliklar olish uchun Email kiriting</h1>
                        <p class="text-dark mb-4 pb-2">Email kiriting va har kuni yangi chiqqan yangiliklardan xabardor bo'ling. Bu orqali siz dunyoning qaynoq yangiliklaridan birinchilardan bo'lib xabardor bo'ling
                        </p>
                        <form class="position-relative mx-auto" method="post">
                            {% csrf_token %}
                            <input class="form-control w-100 py-3 rounded-pill" type="email" name="email" placeholder="Emailingini kiriting">
                            <button type="submit" class="btn btn-primary py-3 px-5 position-absolute rounded-pill text-white h-100" style="top: 0; right: 0;">Subscribe Now</button>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <div class="rounded">
                            <img src="img/banner-img.jpg" class="img-fluid rounded w-100 rounded" alt="">
                        </div>
                    </div>00
                </div>
            </div>
        </div>
        <!-- Banner End -->


        <!-- Latest News Start -->
        <div class="container-fluid latest-news py-5">
            <div class="container py-5">
                <h2 class="mb-4">Oxirgi yangiliklar</h2>
                <div class="latest-news-carousel owl-carousel">
                    {% for lastest in lastests %}
                    <div class="latest-news-item">
                        <div class="bg-light rounded">
                            <div class="rounded-top overflow-hidden">
                                <img src="{{lastest.cover.url}}" class="img-zoomin img-fluid rounded-top w-100" alt="">
                            </div>
                            <div class="d-flex flex-column p-4">
                                <a href="{% url 'article-details' lastest.slug %}" class="h4">{{lastest.title|truncatechars:20}}</a>
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="small text-body link-hover">by {{lastest.author}}</a>
                                    <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> {{lastest.created_at|date:"d.m.Y"}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Latest News End -->

{% endblock %}

